
body{
    background-image: url(./img/Fond\ Braveheart.jpg);
    background-size: cover;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
    overflow-x: hidden;


}


.navbar{
    background-image: url(./img/BackNav.png);
    background-size: 180px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.dropdown-menu{
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}
.dropdown-item{
    color: #ffffff;
}

.nav-link{
    background-color: black;
}

.nav-link:hover{
        text-shadow: 0 0 5px #ff0000; 
}

.titre{
    margin-top: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 0;

}

.titre2{
    margin-top: 0;   
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}


#accordionExample{
    color: white;
}

.accordion-button{
    color: rgb(238, 255, 0);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.Aliencov{
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 15px 15px 12px rgb(0, 0, 0); 
    
    
}

.accordion{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.accordion:hover{
    background-color: black;
}

.para{
    color: rgb(255, 255, 255);
    margin-top: 100px;
    text-align: justify;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    border-top: 3px solid rgb(255, 255, 255) ;   
    margin-left: 50px; 
    padding: 20px;
    background-color: black;
}


h3{
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 5px #000000;
}





.contenu {
    min-height: 100%;
    position: relative;
    }
    
    
    footer {
        flex-shrink: 0;
        border-top: 3px inset #333;
        width: 100%;
        background: #000000;
        position: absolute;
        left: 0;
    }
    
    
    .contenu-footer {
        width: 1250px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Montserrat', sans-serif;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    
    .ICB{
        color: #333;
        text-decoration: none;
        font-size: 25px;
    }
    
    .ICB:hover{
        color: white;
        text-decoration: none;
        text-shadow: 0 0 10px #ff0000;
    }
    
    
    .Annexe{
        color: #333;
        text-decoration: none;
        font-size: 25px;
    }
    
    .Annexe:hover{
        color: white;
        text-decoration: none;
        text-shadow: 0 0 10px #ff0000;
        
    }
    
    
    .Dimages{
        color: #333;
        text-decoration: none;
        font-size: 25px;
    }
    
    .Dimages:hover{
        color: white;
        text-decoration: none;
        text-shadow: 0 0 10px #ff0000;
    }
    
    
    .Nous{
        color: #333;
        text-decoration: none;
        font-size: 25px;
    }
    
    .Nous:hover{
        color: white;
        text-decoration: none;
        text-shadow: 0 0 10px #ff0000;
    }
    
    
    .bloc {
        width: 25%;
        text-align: center;
    }
    

    
.cursor {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 10;
}

.cursor::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 11px solid rgb(255, 0, 0);
    border-radius: 50%;
    opacity: .5;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 3px solid red;
}